<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function(){
        $('.bxslider').bxSlider();
    });
</script>
<body>
    <h1>관리자 메인 화면</h1>
    <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
    <hr/>
    <br/>
    <div class="home__slider">
        <div class="bxslider">
            <div th:each="l : ${list}">
                <a th:alt="${l.bannerName}" th:target="${l.target}" th:href="${l.link}">
                    <img th:src="${l.urlFileName}" />
                </a>
            </div>
        </div>
    </div>
</body>
</html>