<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면 - 상세 화면 관리</title>
    <style>
        .detail table{
            width: 100%;
            border-collapse: collapse;
        }
        .detail table th, detail table td{
            border:solid 1px #000;
        }
        table td{
            border:solid 1px #000;
        }
    </style>
</head>
<body>
    <h1>관리자 회원 관리 - 상세</h1>
    <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

    <div class="detail">
<!--        <div th:text="${member}">-->

<!--        </div>-->
        <table>
            <tr>
                <td>아이디</td>
                <td>
                    <p th:text="${member.userId}"></p>
                </td>
            </tr>
            <tr>
                <td>이름</td>
                <td>
                    <p th:text="${member.userName}"></p>
                </td>
            </tr>
            <tr>
                <td>연락처</td>
                <td>
                    <p th:text="${member.phone}"></p>
                </td>
            </tr>
            <tr>
                <td>가입일</td>
                <td>
                    <p th:text="${member.regDt}"></p>
                </td>
            </tr>
            <tr>
                <td>이메일 인증</td>
                <td>
                    <p th:text="${member.emailAuthYn}"></p>
                </td>
            </tr>
            <tr>
                <td>관리자 여부</td>
                <td>
                    <p th:text="${member.adminYn}"></p>
                </td>
            </tr>
            <tr>
                <td>회원 상태</td>
                <td>
                    <p>
                        현재 상태 : <span th:text="${member.userStatus}"></span>
                    </p>
                    <div>
                        <form method="post" action="/admin/member/status.do">
                            <input th:value="${member.userId}" type="hidden" name="userId"/>
                            <select name="userStatus">
                                <option value="REQ">가입승인중</option>
                                <option value="ING">정상이용중</option>
                                <option value="STOP">정지중</option>
                            </select>
                            <button type="submit">상태 변경</button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>비밀번호 초기화</td>
                <td>
                    <div>
                        <form method="post" action="/admin/member/password.do">
                            <input th:value="${member.userId}" type="hidden" name="userId"/>
                            <input type="text" name="password">
                            <button type="submit">비밀번호 초기화</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <a href="list.do">목록으로 이동</a>
        </div>
        <br/>
        <table>
            <thead>
            <tr>
                <th>NO</th>
                <th>로그인 일자</th>
                <th>접속 IP</th>
                <th>접속 UserAgent</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="l : ${loginHistory}">
                <td>
                    <p th:text="${l.id}"></p>
                </td>
                <td>
                    <p th:text="${l.logDtText}"></p>
                </td>
                <td>
                    <p th:text="${l.ip}"></p>
                </td>
                <td>
                    <p th:text="${l.userAgent}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>